.poster{
    display: flex;
    flex-direction:row;
    background-color: transparent;
    letter-spacing: normal;
    color: white;
}
img{
    padding: 10 10 0 0;
    width: 300px;
    border-radius: 30px;
    margin: 20px;
    cursor:pointer

}

li{
    list-style:none;
}  
li:hover{
    
    box-shadow: rgb(114, 58, 13) 0px 0px 20px;
    transform: scale(1.02);
    border-radius: 30px;

}
